@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Ingat tukar nilainya dengan yang di media query */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --gradasi-biru: linear-gradient(180deg, #24B9FF 0%, #17A2FF 100%); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

ol,
ul {
  list-style-type: decimal;
  list-style-position: inside;
}

body {
  color: #3c4043;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  box-sizing: border-box;
}

html,
body {
  @apply bg-white;
  @apply h-full;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

h3 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-fit-content,
.size-fit-content {
  width: fit-content;
  width: -moz-fit-content;
}

.size-fit-content {
  height: fit-content;
  height: -moz-fit-content;
}

@media (min-width: 640px) {
  h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.blocklyFlyoutScrollbar[display='none'] {
  display: none;
}

.blocklyToolboxDiv.blocklyNonSelectable {
  background-color: #fff !important;
  border: 1px solid #ccc;
}

text.blocklyText {
  fill: #000 !important;
}

.blocklySvg,
.blocklyWorkspace {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.blocklyDraggable {
  cursor: grab;
  cursor: -webkit-grab;
}
