@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Ingat tukar nilainya dengan yang di media query */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: #3c4043;
  margin: 0;
  padding: 0;
}

html,
body,
:root {
  @apply h-full;
  @apply bg-light;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
}

h3 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
